/* mobile first */

/* css reset start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css reset end */

/* use font-face */
@font-face {
  font-family: cormorant;
  src: url("/font/CormorantGaramond-Medium.ttf");
}

@font-face {
  font-family: lexendDecaLight;
  src: url("/font/LexendDeca-Light.ttf");
}

@font-face {
  font-family: lexendDecaMedium;
  src: url("/font/LexendDeca-Medium.ttf");
}

@font-face {
  font-family: lexendDecaSemiBold;
  src: url("/font/LexendDeca-SemiBold.ttf");
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0 1px 5px -2px #cccccc;
  position: fixed;
  z-index: 1;
}

header img {
  width: 30px;
}

.burger {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}

.burger span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #2e475d;
  border-radius: 2px;
}

.link {
  display: none;
}
.d-1 {
  background-color: #fef4ea;
  color: #2e475d;
  padding: 190px 30px 30px 30px;
}

.d-1 h2 {
  font: bold 38px cormorant;
  padding-bottom: 30px;
}

.d-1 p,
.d-2 p {
  font: 16px lexendDecaLight;
  line-height: 27px;
  padding: 0 10px 20px 0;
}

.d-1 button {
  box-shadow: none;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 5px 50px;
  font: 18px lexendDecaMedium;
}

.d-1 .p-2 {
  font-size: 14px;
  padding-top: 15px;
}

.d-1 img {
  max-width: 100%;
  margin: 20px 0 50px;
}

.d-2 {
  background-color: #f6f9fc;
  color: #2e475d;
  padding: 75px 10px 20px 15px;
}

.d-2 h3 {
  font: 26px lexendDecaSemiBold;
  padding-bottom: 25px;
}

.d-2 button {
  display: block;
  width: 100%;
  height: 38px;
  font: 14px lexendDecaMedium;
}

.d-2 .b-1 {
  margin: 10px 0 20px;
}

.d-2 .b-2 {
  color: #ff5c35;
  background-color: #ffffff;
  margin: 10px 0 55px;
}

.s-1 {
  background-color: #ffffff;
  width: 97%;
  margin: 0 auto 25px;
  box-shadow: 0px 0px 10px #eeeeee;
  padding: 40px 20px 30px;
  box-sizing: border-box;
}

.s-1 .img {
  width: 30px;
}

.s-1 h3 {
  display: inline-block;
  font: 23px lexendDecaMedium;
}

.s-1 p {
  font-size: 14px;
}

.s-1 hr {
  border-top: 1px solid #cccccc;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 20px;
}

.s-1 h4 {
  font: 16px lexendDecaLight;
  margin-top: 20px;
}

.s-1 ul {
  padding: 20px 0px;
}

.s-1 li {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.s-1 .check {
  width: 22px;
  margin-right: 10px;
}

.s-1 li {
  font: 12px lexendDecaMedium;
}

.s-1 button {
  height: 45px;
  font-size: 17px;
}

.winning {
  padding: 380px 40px 40px 40px;
  margin-top: 110px;
  background-image: url("img/Saloon-Table-Wild-West.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -40px 0;
}

.s-1 .h3-winning {
  font-size: 19px;
}

.s-1 .p-winning {
  font-size: 17px;
  padding-bottom: 40px;
}
.s-1 .bt-winning {
  width: 70%;
}

.d-3 {
  background-color: #47b277;
  /* background-color: #10bfbe; */
  color: #ffffff;
  padding: 20px;
}

.d-4 {
  background-color: #ffffff;
  color: #2e475d;
  padding: 20px;
}

button {
  background-color: #ff5c35;
  border: 1px solid #ff5c35;
  border-radius: 3px;
  color: #ffffff;
}
aside,
footer {
  background-color: #213343;
  color: #ffffff;
  padding: 20px;
}
